<div class="top">
  <h2>The Civic Technology Forum</h2>
  <p>Discussions about civic technology. <small><a href="https://github.com/codeforamerica/codeofconduct">Don't be a jerk</a>.</small></p>
</div>

<div class="layout-major-invert">
  <ul class="labels">

    <% @labels.each do |label| %>

      <li style="background-color: <%= "##{label.color}" %>;">
        <a href="/forum/l/<%= label.name %>"><%= label.name %></a>
      </li>

    <% end %>

  </ul>
</div>

<div class="layout-minor-invert">
  <a class="button right" href="/forum/i/new">Start a new discussion</a>
</div>

<div class="clear"></div>

<hr />

<section>
  
  <ul class="list-ruled">
    
    <% @issues.each do |issue| %>

    <li>
        <a class="issue-title" href=<%= "/forum/i/#{issue.number}" %>><%= issue.title %></a>
          
          <ul class="labels right">

            <% issue.labels.each do |label| %>

              <li class="left" style="background-color: <%= "##{label.color}" %>;">
                <a href="/forum/l/<%= label.name %>"><%= label.name %></a>
              </li>

            <% end %>

          </ul>
          <div class="clear"></div>

    </li>

    <% end %>

  </ul>

</section>
