<section>

  <h2 class="inline"><%= @issue.title %></h2>

  <ul class="labels right">

    <% @issue.labels.each do |label| %>

      <li class="left" style="background-color: <%= "##{label.color}" %>;">
        <a href="/forum/l/<%= label.name %>"><%= label.name %></a>
      </li>

    <% end %>

  </ul>
  <div class="clear"></div>

  <h6 class="inline">Started by <a href="<%= @issue.user.html_url %>"><%= @issue.user.login %></a></h6>

  <% if authenticated?%>

    <% if github_user.login == @issue.user.login %>

      <a class="button-s inline right icon-tools" href=<%="#{request.url}/edit"%> >Edit</a>
      <div class="clear"></a>

    <% end %>

  <% end %>
  
  <p><%= @issue.body %></p>

  <hr />

  <ul class="list-ruled">

    <% @comments.each do |comment| %>

      <li>
        
        <h6 class="inline"><a href="<%= comment.user.html_url %>"><%= comment.user.login %></a></h6>
        <% if authenticated? %>

          <% if github_user.login == comment.user.login %>

            <a class="button-s inline right icon-tools" href="<%= request.url %>/comment/<%= comment.id %>/edit">Edit</a>
            <div class="clear"></a>

          <% end %>

        <% end %>
        <p><%= comment.body %></p>

      </li>
    <% end %>

  </ul>

<% if authenticated? %>
  <form action= "<%= request.url %>/comment" method="POST">
    <textarea name="comment"></textarea>
    <input type="submit" value="Add comment" class="icon-bubble" />
    <small class="note"><a href="https://github.com/codeforamerica/codeofconduct">Don't be a jerk</a>.</small>
  </form>
<% end %>

</section>
