<section>

  <h2 style="display:inline;"><%= @issue.title %></h2>

  <ul class="labels right">

    <% @issue.labels.each do |label| %>

      <li class="left" style="background-color: <%= "##{label.color}" %>;">
        <a href="forum/l/<%= label.name %>"><%= label.name %></a>
      </li>

    <% end %>

  </ul>
  <div class="clear"></div>

  <h6>Started by <a href="<%= @issue.user.html_url %>"><%= @issue.user.login %></a></h6>
  
  <p><%= @issue.body %></p>

  <% if authenticated?%>

    <% if github_user.login == @issue.user.login %>

      <a href=<%="#{request.url}/edit"%> class="button">Edit Issue</a>

    <% end %>

  <% end %>

  <hr />

  <% @comments.each do |comment| %>
  <h6>
    <%= "<a href=\"#{comment.user.html_url}\">#{comment.user.login}</a>" %>
  </h6>
  <div class="comment-body">
    <p>
      <%= comment.body %>
    </p>
  </div>
<% end %>

<hr>
<br />

<% if authenticated? %>
  <form action= <%="#{request.url}" %> method="POST">
    <textarea name="comment"></textarea>
    <input type="submit" value="Add comment" class="icon-bubble" />
  </form>
<% end %>

</section>



<br/>
<br/>



