<h2><%= @issue.title + " (##{@issue.number})" %></h2>
<p>
  <%= @issue.body %>
</p>

<a href="/<%= @repo_string %>/discussion">Back</a>

<br><br>

<% @comments.each do |comment| %>
  <h6>
    <%= "#{comment.user.login} commented on #{comment.created_at}" %>
  </h6>
  <div class="comment-body">
    <p>
      <%= comment.body %>
    </p>
  </div>
<% end %>

<input type="textarea">
<input type="submit" value="Add comment">
