<section>
  <h2><%= @issue.title %></h2>
  <h6>Started by <a href="<%= @issue.user.html_url %>"><%= @issue.user.login %></a></h6>
  
  <p><%= @issue.body_html %></p>

  <hr />

  <% @comments.each do |comment| %>
  <h6>
    <%= "<a href=\"#{comment.user.html_url}\">#{comment.user.login}</a>" %>
  </h6>
  <div class="comment-body">
    <p>
      <%= comment.body_html %>
    </p>
  </div>
<% end %>

<hr>
<br />

</section>

<% if authenticated? %>
  <%= "<form action=\"#{request.url}\" method=\"POST\">" %>
    <input type="textarea" name="comment">
    <input type="submit" value="Add comment">
  </form>
<% end %>

<br/>
<br/>



