<section>
  <h2>Start a new discussion</h2>
  <% if authenticated? %>
  <form action="<%= request.url %>" method="POST">
    
    <fieldset>
      <legend>Discussion Title</legend>
      <input name="title" class="input" type="text" />
    </fieldset>
    
    <fieldset>
      <legend>Discussion Body</legend>
      <textarea name="body"></textarea>
      <small class="note">Style with <a href="https://guides.github.com/features/mastering-markdown/">Markdown</a></small>
    </fieldset>

    <fieldset>
      <legend>Categories</legend>
      <nav class="nav-tags" role="navigation">
        <ul>
          <% @labels.each do |label| %>
            <li>
              <!-- Check the function below to see whats up here -->
              <a id="<%= label.name %>-button"
                onmouseover="this.style.backgroundColor='#<%= label.color %>';"
                onmouseout="this.style.backgroundColor='rgba(109, 110, 113, 0.4)';"
                onClick='select("<%= label.name %>");')
              >
                <%=label.name%>
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    </fieldset>

    <select name="categories[]" id="categories" multiple style="display:none;">
      <% @labels.each do |label| %>
      <option id="<%= label.name %>" value="<%= label.name %>"><%= label.name %></option>
      <% end %>
    </select>

    <fieldset><input type="submit" value="Discuss"><small class="note"><a href="https://github.com/codeforamerica/codeofconduct">Don't be a jerk</a>.</small></fieldset>

  </form>
  <% end %>
  
</section>

<br />

<script>
function select(labelName) {
  // We want to have buttons with custom colors instead of a
  // dropdown multiple select.
  // Can't do dynamic colors on css hover though, so instead
  // we add and remove inline vanilla js to get the same effect.
  el = document.getElementById(labelName);
  a = document.getElementById(labelName+"-button");
  if ( a.hasAttribute('clicked') ) {
    el.setAttribute('selected', false);
    a.removeAttribute('clicked');
    a.setAttribute("onmouseout", "this.style.backgroundColor='rgba(109, 110, 113, 0.4)';");
  } else {
    el.setAttribute('selected', true);
    a.setAttribute('clicked', true);
    a.removeAttribute("onmouseout");
  }
}
</script>